<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.z0o0a.lid">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/lid_logo_v1"
        android:label="LiD"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".DrinkPostingName"/>
        <activity android:name=".DrinkPostingText"/>
        <activity android:name=".DrinkPostingImg"/>
        <activity android:name=".LifeIsDrink"/>
        <activity android:name=".DrinkTastingNote"/>
        <activity android:name=".UserLetter"/>
        <activity android:name=".DrinkPostingTextBeer"/>
        <activity android:name=".OpenLicenseList"/>
        <activity android:name=".DrinkPostingGuide"/>
        <activity android:name=".DrinkPostingTextWhiskey"/>
        <activity android:name=".DrinkPostingTextWine"/>
        <activity android:name=".DrinkTastingNoteWhiskey"/>
        <activity android:name=".DrinkTastingNoteWine"/>
        <activity android:name=".DrinkTastingNoteBeer"/>
    </application>

</manifest>